.contact-page {
  padding: 60px 0;
}

.contact-section {
  display: flex;
  justify-content: center;
}

.contact-container {
  display: flex;
  gap: 40px;
  max-width: 1100px;
  width: 100%;
  background: #fff;
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.contact-form,
.contact-infos {
  flex: 1;
}

/* TABLETTE & MOBILE */
@media (max-width: 992px) {
  .contact-container {
    flex-direction: column;
  }
}