.header {
  background: #212529;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

/* NAV */
.header-nav {
  display: flex;
  gap: 20px;
}

.header-nav a {
  color: white;
  text-decoration: none;
  position: relative;
}

.header-nav a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #0d6efd;
  transition: width 0.3s;
}

.header-nav a:hover::after {
  width: 100%;
}

/* BURGER */
.burger {
  display: none;
  background: none;
  border: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

/* TABLETTE + MOBILE*/
@media (max-width: 992px) {
  .burger {
    display: block;
  }

  .header-nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #212529;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .header-nav.open {
    display: flex;
  }

  .header-nav a {
    padding: 15px 0;
  }
}